# Environment & Secrets
.env
.env*.local

# Virtual Environment
.venv/
env/
venv/

# Python Caches & Artifacts
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/
.ipynb_checkpoints/
*.log

# Project Data & Vector DBs
data/vector_db/
data/raw/*
!data/raw/.gitkeep

# Editor & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
